#workspace_div_1
{
width:100%;
 height:300px; 
 background-color:red;
 position:absolute;
 border-spacing:0;
 border-collapse:collapse;
}
#workspace_div_table_1
{
 width:941px;
 border:0px;
 text-align:center;
 padding:0px;
 background-color:yellow;
 border-spacing:0;
 border-collapse:collapse;
}
#workspace_div_top_table
{
width:941px;
 border:0px;
  background-color:green;
 border-spacing:0;
 border-collapse:collapse;
 }
#workspace_div_top_table_iitkanpur
{
 width:500px;
 margin-top:opx;
 background-color:white;
}
#wokspace_iitk_logo                                    
{
margin:5px 0px 0px 25px; 
padding:6px 0px 0px 0px;
 font:bold 20px Arial;
 }
 #wokspace_iitk_logo_image
 {
 width:85px;
 height:76;
 }
 #workspace_center_table
 {
 height:600px;
 width:100%;
 background-color:
 }